*{margin:0; padding: 0;user-select: none;}
body{overflow:hidden}
#drawing-board{background-color: aliceblue;display: block;cursor: crosshair;}
.tools{position: fixed;left:0;bottom: 30px; width:100%;isplay: flex;justify-content: center;text-align: center}
.tools button{border-radius: 50%;width: 50px;height: 50px; background-color: rgba(255,255,255,0.7);border: 1px solid #ccc;outline: none;cursor: pointer;box-sizing: border-box;margin: 0 10px;text-align: center;color:#ccc;line-height: 50px;transition: 0.3s;}
.tools button.active,.tools button:active{box-shadow: 0 0 15px #00CCFF; color:#00CCFF;}
.tools button i{font-size: 24px;}